<footer class="d-flex flex-column align-items-center justify-content-center pt-3 pb-2">
  <p class="mb-1">Made with <img src="/images/heart.png" class="footer-icon"> by Ute, Tamao and Alicja</p>
  <p class="mb-0">Would you like to see even more? To check the code visit our <a
      href="https://github.com/ute-wiemer/recipes-project" class="source-link" target="_blank">GitHub repository</a>
  </p>
</footer>