<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/recipes">Browse Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/create">Create Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">User Profile</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="/logout">
      <button class="btn btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Logout</button>
    </form>

  </div>
</nav>