<nav>
  <ul>
    <li><a href="/recipes">BROWSE RECIPES</a></li>
    <li><a href="#">PROFILE</a></li>
    <li><a href="/logout">LOGOUT</a></li>

    
{{!--     <li>
      <form id="logoutForm" action="/logout" method="POST"> <a href="javascript:void(0)"
          onclick="document.getElementById('logoutForm').submit()">LOGOUT</a></form>
    </li>
    <li>
      <form id="logoutForm" action="/logout" method="POST"> <button type="submit">LOGOUT</button></form>
    </li> --}}
  </ul>
</nav>