{{> navigationalBar}}

<h2>Create a new recipe</h2>

<form action="/recipes/create" method="post" enctype="multipart/form-data">


  <label for="input-file">Upload your recipe photo</label>
  <input type="file" name="image" id="input-file1" />


  <ul>
    <li><label for="name-input">Name:<span class="required-field"></span></label>
      <input type="text" name="name" id="name-input" /> </li>

    <li> <label for="instructions-input">Instructions:<span class="required-field"></span></label>
      <textarea name="instructions" id="instructions-input" cols="30" rows="4"></textarea></li>

    <li><label for="source-input">Source:</label>
      <input type="text" name="URL" id="source-input" /></li>

    <li> <label for="prepTime-input">Preparation Time:<span class="required-field"></span></label>
      <input type="text" name="prepTime" id="prepTime-input" /></li>

    <li><label for="cookTime-input">Cooking Time:<span class="required-field"></span></label>
      <input type="text" name="cookTime" id="cookTime-input" /></li>

    <li><label for="totalTime-input">Total Time:<span class="required-field"></span></label>
      <input type="text" name="totalTime" id="totalTime-input" /></li>

    {{!-- <li><label for="typeOfMeal-input">Type of Meal:</label>
      <input type="text" name="typeOfMeal" id="typeOfMeal-input" /></li> --}}

    <li>Type of Meal: <select name="typeOfMeal" multiple>
        {{#each MealType}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select></li>

    <li>Type of Recipe: <select name="typeOfRecipe" multiple>
        {{#each RecipeType}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select></li>

    <li><label for="portions-input">Portion:<span class="required-field"></span></label>
      <input type="number" name="portions" id="portions-input" min="1" /></li>

    {{#each ingredients}}
    <li> <label for="ingredients-input"> Ingredients:<span class="required-field"></span></label>
      <input type="text" name="ingredients" id="ingredients-input" /></li>
    {{/each}}

    <li>
      <label for="level-input">Level:</label>
      <select id="level-input" name="level">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </li>
  </ul>

  <button type="submit">Create</button>
</form>

<p><span class="required-field"></span> Required fields. Please add all required informations to create a recipe!</p>