{{> navigationalBar}}

<div class="main-recipe-container">

  <h2 class="form-header">Create New Recipe</h2>

  <form action="/recipes/create" method="post" enctype="multipart/form-data">

    <div  class="form-group">
      <label for="input-file">Upload your recipe photo</label>
      <input type="file" class="form-control border-0 pl-0" name="image" id="input-file1" />
    </div>

    <div class="form-group">
      <label for="date-input">Date</label>
      <input type="date" class="form-control" name="createDate" id="date-input" />
    </div>

    <div class="form-group">
      <label for="name-input">Name:<span class="required-field"></span></label>
      <input type="text" class="form-control" name="name" id="name-input" />
    </div>

    <div class="form-group">
      <label for="source-input">Source:</label>
      <input type="text" class="form-control" name="URL" id="source-input" />
    </div>

    <div class="form-group">
      <label for="meal-type">Type of Meal:</label>
      <select multiple class="form-control" name="typeOfMeal" id="meal-type">
        {{#each MealType}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="recipe-type">Type of Recipe:</label>
      <select multiple class="form-control" name="typeOfRecipe" id="recipe-type">
        {{#each RecipeType}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="portions-input">Serves:<span class="required-field"></span></label>
      <input type="number" class="form-control" name="portions" id="portions-input" min="1" />
    </div>

    <div class="form-group">
      <label for="prepTime-input">Preparation Time:<span class="required-field"></span></label>
      <input type="text" class="form-control" name="prepTime" id="prepTime-input" />
    </div>

    <div class="form-group">
      <label for="cookTime-input">Cooking Time:<span class="required-field"></span></label>
      <input type="text" class="form-control" name="cookTime" id="cookTime-input" />
    </div>

    <div class="form-group">
      <label for="totalTime-input">Total Time:<span class="required-field"></span></label>
      <input type="text" class="form-control" name="totalTime" id="totalTime-input" />
    </div>

    <div class="form-group">
      <label> Ingredients:<span class="required-field"></span></label>
      {{#each ingredients}}
      <input type="text" class="form-control ingredient-input" name="ingredients" />
      {{/each}}
    </div>

    <div class="form-group">
      <label for="instructions-input">Instructions:<span class="required-field"></span></label>
      <textarea class="form-control" name="instructions" id="instructions-input" cols="30" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="level-input">Level:</label>
      <select class="form-control" name="level" id="level-input">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <button type="submit" class="btn btn-info">Create</button>

  </form>


  <br>
  <p><span class="required-field"></span> Required fields. Please add all required informations to create a recipe!</p>

</div>