<div>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <h2>Welcome to [name of the app]</h2>
    <p>Try our recipe management app to find and organize your favourite recipes!</p>
    <form action="/" method="post">

      <label for="input-email">Email</label>
      <input type="email" name="email" id="input-email" placeholder="Your email" />

      <label for="input-password">Password</label>
      <input type="password" name="password" id="input-password" placeholder="********" />

      <button type="submit">LOGIN</button>

      <br>
      <p>No account yet? Sign up to browse recipes!</p>
      <a href="/signup">SIGN UP</a>

      {{#if errorMessage}}
      <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>