{{> navigationalBar}}

<div>
  <h2>Recipes</h2>

  {{#if this.recipesFromDB}}

{{#each recipesFromDB }}
<div>
    <p>Name: {{this.name}}</p>
    <p><a href="/recipes/{{this._id}}">Go to Recipe</a></p>
</div>
{{/each}}

{{else}}
  <p>There are no results matching your query!</p>
  {{/if}}
</div>

