<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h2 class="display-3">Sign up for Recipe Club</h2>
        <br>
        <h3>Sign up to find and organize your favourite recipes!</h3>
        <br>
        <form class="pull-left" class="container" class="mx-auto" style="width: 200px;" action="/signup" method="post">
          <label for="input-username">Username</label>
          <input type="text" id="input-username" name="username" placeholder="Your username" />
          <br>
          <br>
          <label for="input-email">Email</label>
          <input type="email" name="email" id="input-email" placeholder="Your email" />
          <br>
          <br>
          <label for="input-password">Password</label>
          <input type="password" name="password" id="input-password" placeholder="********" />
          <br>
          <br>
          <div>
            <button type="submit" class="btn btn-primary">SIGN UP</button>
          </div>
          {{#if errorMessage}}
          <p>{{errorMessage}}</p>
          {{/if}}
        </form>
      </div>
    </div>
    <div class="col">
      <div>
        <img src="/images/signup.png" alt="Recipe image" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>