{{> navigationalBar}}

<h2>Your Shopping List</h2>
<br>
<br>
{{#each shoppingList}}
<div class="container">
  <!-- Content here -->
<div class="p-3 mb-2 bg-light text-dark">
 <h3>{{this.name}}</h3>
<p>
<b>Ingredients:</b>
<ul>
  {{#each this.ingredients}}
  <li>{{this}}</li>
  {{/each}}
</ul>
</p>

<form action="/user/shopping-list/{{this._id}}/delete-from-list" method="POST">
  <button class="btn btn-primary">Delete</button>
</form>
</div>
</div>
<hr>
{{/each}}


<form action="/user/shopping-list/delete-all-from-list" method="POST">
  <button class="btn btn-primary">Delete All</button>
</form>